<div class="tab-resultado">
    <p-tabView styleClass="tabview-custom" [(activeIndex)]="activeIndex">
        <p-tabPanel>
            <ng-template pTemplate="header">
                <span>Resultados</span>
            </ng-template>
            <div class="grid" style="margin-top: 10px;">
                <div class="md:col-4 col-12 margin-bottom">
                    <span class="p-float-label flex flex-column">
                        <input pInputText type="text" placeholder="Subsector" value="Hidrocarburos" disabled="false"/>
                        <label class="label-placehoder">Subsector</label>
                    </span>
                </div>
                <div class="md:col-4 col-12 margin-bottom">
                    <span class="p-float-label flex flex-column">
                        <input pInputText type="text" placeholder="Unidad fiscalizable" value="Planta Oti" disabled="false"/>
                        <label class="label-placehoder">Unidad fiscalizable</label>
                    </span>
                </div>
                <div class="md:col-4 col-12 margin-bottom">
                    <span class="p-float-label flex flex-column">
                        <input pInputText type="text" placeholder="Nombre de informe de monitoreo" value="INFORME DE PRUEBA 01" disabled="false"/>
                        <label class="label-placehoder">Nombre de informe de monitoreo</label>
                    </span>
                </div>
            </div>
            <punto-monitoreo-listado></punto-monitoreo-listado>
        </p-tabPanel>
        <p-tabPanel>
            <ng-template pTemplate="header">
                <span>Equipos</span>
            </ng-template>
            <div>
              <equipo></equipo>
            </div>
        </p-tabPanel>
        <p-tabPanel>
            <ng-template pTemplate="header">
                <span>Informe de ensayo</span>
            </ng-template>
            <div>BODY</div>
        </p-tabPanel>
        <p-tabPanel>
            <ng-template pTemplate="header">
                <span>Documentos</span>
            </ng-template>
            <div>BODY</div>
        </p-tabPanel>
    </p-tabView>
</div>
