<div class="content">
    <!-- <div class="grid grid-sp"> -->
    <div class="grid">
        <div class="md:col-6 col-12">
            <span class="p-float-label flex flex-column">
                <input pInputText type="text" placeholder="Punto de monitoreo" value="PUNTO 01" disabled="false"/>
                <label class="label-placehoder">Punto de monitoreo</label>
            </span>
        </div>
        <div class="md:col-6 col-12">
            <span class="p-float-label flex flex-column">
                <input pInputText type="text" placeholder="Componente ambiental" value="AIRE//AIRE AMBIENTAL" disabled="false"/>
                <label class="label-placehoder">Componente ambiental</label>
            </span>
        </div>
    </div>
    <div class="grid">
        <div class="col-12 tab-dialog">
            <p-tabView styleClass="tabview-custom" [(activeIndex)]="activeIndex">
                <p-tabPanel>
                    <ng-template pTemplate="header">
                        <span>Parámetros IGA</span>
                    </ng-template>
                    <div class="grid">
                        <div class="col-12">
                            <div class="">
                                <p-tree class="w-full md:w-30rem" [value]="parametroLista" dataKey="idParametro" [(selection)]="selectedFiles" (onNodeSelect)="selectNode($event)">
                                    <ng-template let-node pTemplate="default">
                                        <div>
                                            <p-checkbox [(ngModel)]="node.checked" [binary]="true" inputId="idParametro" *ngIf="node.showCheckbox" (onChange)="onChangeCheckParam(node)"/>
                                            <span class="hover:text-primary">{{node.parametro}}</span>
                                        </div>
                                    </ng-template>
                                </p-tree>
                            </div>
                        </div>
                    </div>
                </p-tabPanel>
                <p-tabPanel>
                    <ng-template pTemplate="header">
                        <span>Parámetro Adicional</span>
                    </ng-template>
                    <div class="grid">
                        <div class="col-12">
                            <div class="">
                                <p-tree [filter]="true" filterMode="strict" filterBy="parametro" filterPlaceholder="Buscar" [value]="parametroAdiLista" dataKey="idParametroAdi" [(selection)]="selectedFiles">
                                    <ng-template let-node pTemplate="default">
                                        <div>
                                            <p-checkbox [(ngModel)]="node.checked" [binary]="true" inputId="idParametroAdi" *ngIf="node.showCheckbox" (onChange)="onChangeCheckParamAdi(node)"/>
                                            <span class="hover:text-primary">{{node.parametro}}</span>
                                        </div>
                                    </ng-template>
                                </p-tree>
                            </div>
                        </div>
                    </div>
                </p-tabPanel>
            </p-tabView>
        </div>
    </div>
</div>
<div class="futter">
    <div class="flex justify-content-center">
        <p-button label="Cerrar" outlined="true" severity="secondary" class="outline-secondary" (click)="onClickCancelar()"></p-button>
    </div>
</div>