<div class="content-list">
    <div *ngIf="tabResul=='PUNTO'">
        <div class="grid" *ngIf="busqueda" style="margin-top: 4px;">
            <div class="md:col-4 col-12 margin-bottom">
                <span class="p-float-label">
                    <p-dropdown placeholder="Tipo de punto"></p-dropdown>
                    <label class="label-placehoder">Tipo de punto</label>
                </span>
            </div>
            <div class="md:col-4 col-12 margin-bottom">
                <span class="p-float-label flex flex-column">
                    <input pInputText type="text" placeholder="Nombre de punto"/>
                    <label class="label-placehoder">Nombre de punto</label>
                </span>
            </div>
            <div class="md:col-4 col-12">
                <p-button label="Buscar" icon="pi pi-search" severity="primary" outlined="true" class="outline-primary"></p-button>
            </div>
        </div>
        <div class="grid">
            <div class="md:col-7 col-12">
                <div class="titulo-res">
                    <strong class="pcp-1 res-active" (click)="onClickPuntoRes()">Puntos</strong>
                    <strong class="pcp-2" (click)="onClickComponenteRes(dataPunto)">Componentes</strong>
                    <strong class="pcp-2" (click)="onClickParametroRes(dataPunto)">Parámetros</strong>
                    <i class="pi pi-filter-fill" pTooltip="Mostrar filtro" tooltipPosition="top" *ngIf="!busqueda" (click)="onClickBusqueda()"></i>
                    <i class="pi pi-filter-slash" pTooltip="Ocultar filtro" tooltipPosition="top" *ngIf="busqueda" (click)="onClickBusqueda()"></i>
                </div>
            </div>
            <div class="md:col-5 col-12 flex justify-content-end gap-1">
                <p-button label="Gestionar Puntos" severity="primary" outlined="true" class="outline-primary" (click)="onClickDlgPGestion(dataPunto)"></p-button>
                <p-button label="Agregar Punto Adicional" severity="primary" outlined="true" class="outline-primary" (click)="onClickDlgPAdicional(dataPunto)"></p-button>
            </div>
        </div>
        <div class="grid">
            <div class="col-12 table">
                <p-table [value]="dataSource" selectionMode="single" dataKey="orden" [tableStyle]="{ 'min-width': '100rem' }">
                    <ng-template pTemplate="header">
                        <tr><th *ngFor="let head of tableHeader">{{head}}</th></tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                        <tr>
                            <td>{{ data.orden }}</td>
                            <td style="width: 120px;">
                                <!-- <i class="pi pi-asterisk icon-res" pTooltip="Selec. parámetros" tooltipPosition="top"></i> -->
                                <i class="pi pi-map-marker icon-res" pTooltip="Agregar coordenadas" tooltipPosition="top" (click)="onClickDlgCoordenada(data)"></i>
                                <i class="pi pi-camera icon-res" pTooltip="Agregar foto" tooltipPosition="top" (click)="onClickDlgFoto(data)"></i>
                                <i class="pi pi-comment icon-res" pTooltip="Observación" tooltipPosition="top" (click)="onClickDlgObservacion(data)"></i>
                                <i class="pi pi-arrow-right icon-res" pTooltip="Mostrar componentes" tooltipPosition="top" (click)="onClickComponenteRes(data)"></i>
                            </td>
                            <td>{{ data.nombrePunto }}</td><td>{{ data.fuentePunto }}</td>
                            <td>{{ data.nombreFuente }}</td><td>{{ data.tipoPunto }}</td>
                            <td>{{ data.esteLongitud }}</td><td>{{ data.norteLatitud }}</td>
                            <td>{{ data.zona }}</td><td>{{ data.datum }}</td>
                            <td>{{ data.proyeccion }}</td><td>{{ data.refLocalizacion }}</td>
                            <td>{{ data.observacion }}</td>
                        </tr>
                    </ng-template>
                </p-table>
                <div class="card flex justify-content-end">
                    <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="5" [showCurrentPageReport]="true" currentPageReportTemplate="({totalRecords} registros)"></p-paginator>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="tabResul=='COMPONENTE'">
        <componente-ambiental-listado [data]="dataPunto" (select)="onSelected($event)"></componente-ambiental-listado>
    </div>
</div>

<div class="card flex justify-content-center">
    <p-dialog header="SELECCIONAR PUNTOS DE MONITOREO" [(visible)]="mostrarDlgPGestion" [modal]="true" [style]="{width: '800px'}" closable="false">
        <punto-monitoreo-gestion (close)="onCerrarDlg($event)"></punto-monitoreo-gestion>
    </p-dialog>
    <p-dialog header="PUNTOS ADICIONALES" [(visible)]="mostrarDlgPAdicional" [modal]="true" [style]="{width: '900px'}" closable="false">
        <punto-adicional (close)="onCerrarDlg($event)"></punto-adicional>
    </p-dialog>
    <p-dialog header="COORDENADAS" [(visible)]="mostrarDlgCoodenada" [modal]="true" [style]="{width: '800px'}" closable="false">
        <punto-monitoreo-coordenada (close)="onCerrarDlg($event)"></punto-monitoreo-coordenada>
    </p-dialog>
    <p-dialog header="AGREGAR FOTO Y/O VIDEO" [(visible)]="mostrarDlgFoto" [modal]="true" [style]="{width: '600px'}" closable="false">
        <punto-monitoreo-foto (close)="onCerrarDlg($event)"></punto-monitoreo-foto>
    </p-dialog>
    <p-dialog header="PUNTO: PUNTO 01" [(visible)]="mostrarDlgObservacion" [modal]="true" [style]="{width: '500px'}" closable="false">
        <punto-monitoreo-observacion (close)="onCerrarDlg($event)"></punto-monitoreo-observacion>
    </p-dialog>
</div>

<p-toast position="top-center" key="noPunto"></p-toast>