<div class="content-list">
    <div class="grid mt-1" *ngIf="busqueda">
        <div class="md:col-4 sm col-12">
            <span class="p-float-label flex flex-column">
                <input pInputText type="text" placeholder="Normativa"/>
                <label class="label-placehoder">Normativa</label>
            </span>
        </div>
        <div class="md:col-4 sm col-12">
            <span class="p-float-label flex flex-column">
                <input pInputText type="text" placeholder="Parámetro"/>
                <label class="label-placehoder">Parámetro</label>
            </span>
        </div>
        <div class="md:col-4 col-12">
            <p-button label="Buscar" icon="pi pi-search" severity="primary" outlined="true" class="outline-primary"></p-button>
        </div>
    </div>
    <div class="grid">
        <div class="md:col-7 col-12">
            <div class="titulo-res">
                <strong class="pcp-1" (click)="onClickPuntoRes()">Puntos</strong>
                <strong class="pcp-2" (click)="onClickComponenteRes()">Componentes</strong>
                <strong class="pcp-2 res-active" (click)="onClickParametroRes()">Parámetros</strong>
                <i class="pi pi-filter-fill" pTooltip="Mostrar filtro" tooltipPosition="top" *ngIf="!busqueda" (click)="onClickBusqueda()"></i>
                <i class="pi pi-filter-slash" pTooltip="Ocultar filtro" tooltipPosition="top" *ngIf="busqueda" (click)="onClickBusqueda()"></i>
            </div>
        </div>
        <div class="md:col-5 col-12 flex justify-content-end">
            <p-button label="Control de parámetros" severity="primary" outlined="true" class="outline-primary" (click)="onClickMostrarParam()"></p-button>
        </div>
            <div class="col-12 info-res">
                <p-messages [(value)]="infoPunto" [enableService]="false" />
            </div>
            <div class="col-12 table table-resul">
              <p-contextMenu #menuTable [model]="contextMenu" [style]="{'font-weight':'bold', 'width':'240px', 'font-size': '15px'}"></p-contextMenu>
              <p-table [value]="dataSource" [contextMenu]="menuTable" selectionMode="single" dataKey="orden" [tableStyle]="{ 'min-width': '100rem' }">
                <ng-template pTemplate="header">
                  <tr>
                    <th *ngFor="let head of tableHeader">{{head}}</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                  <tr [pContextMenuRow]="data">
                    <td>{{ data.orden }}</td>
                    <td style="min-width: 120px;">
                      <i class="pi pi-caret-right icon-res" pTooltip="Agregar etapas y frecuencias" tooltipPosition="top" (click)="onClickAgregarEtapaFrecuencia()"></i>
                      <i class="pi pi-clock icon-res" pTooltip="Agregar muestra" tooltipPosition="top" (click)="onClickAgregarMuestra()"></i>
                      <i class="pi pi-comment icon-res" pTooltip="Agregar observación" tooltipPosition="top" (click)="onClickAgregarObservacion()"></i>
                      <fa-icon [icon]="faTrashAlt" class="icon-danger" pTooltip="Eliminar parámetro" tooltipPosition="top" (click)="onClickEliminar(data)"></fa-icon>
                    </td>
                    <td style="min-width: 200px;">{{ data.normativa }}</td>
                    <td>{{ data.parametroDescripcion }}</td>
                    <td><p-inputSwitch/></td>
                    <td>
                      <div *ngIf="!data.esLimiteMultiple">
                        <p-dropdown [options]="" optionLabel="name" placeholder="Límite"/>
                      </div>
                      <div *ngIf="data.esLimiteMultiple">
                          <input pInputText id="username" value="Límite de cuantificación" [readonly]="true" class="mb-2"/>
                          <input pInputText id="username" value="Límite de detección" [readonly]="true"/>
                      </div>
                    </td>
                    <td>
                      <div *ngIf="!data.esLimiteMultiple">
                        <p-inputNumber inputId="integeronly"  id="username" value="Valor"/>
                      </div>
                      <div *ngIf="data.esLimiteMultiple">
                          <p-inputNumber inputId="integeronly"  id="username" placeholder="Valor LC" class="mb-2"/>
                          <p-inputNumber inputId="integeronly"  id="username" placeholder="Valor LD"/>
                      </div>
                    </td>
                    <td>
                      <p-dropdown [options]="" optionLabel="name" placeholder="Signo"/>
                    </td>
                    <td>
                      <input pInputText id="username" placeholder="Resultado"  *ngIf="data.idTipoValor=='3'"/>
                      <p-inputNumber inputId="integeronly"  id="username" placeholder="Resultado"  *ngIf="data.idTipoValor!='3'"/>
                    </td>
                    <td>
                      <p-dropdown [options]="" optionLabel="name" placeholder="U. Medida"/>
                    </td>
                    <td>
                      <p-dropdown [options]="" optionLabel="name" placeholder="Acreditado"/>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
              <div class="card flex justify-content-end">
                <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows"
                  [totalRecords]="dataSource.length" [showCurrentPageReport]="true"
                  currentPageReportTemplate="({totalRecords} registros)"></p-paginator>
              </div>
            </div>
    </div>
</div>

<div class="card flex justify-content-center p-dialog-custom" [ngClass]="{'p-dialog-parametro-resultado':configDialog.option=='MUESTRA'}">
  <p-dialog header="{{configDialog.title}}" [(visible)]="configDialog.show" [modal]="true"
    [style]="{width: configDialog.width, height: configDialog.height}" closable="false">
    <div *ngIf="configDialog.option == 'PARAMETRO'">
      <parametro-seleccion (close)="onClickCerrarDialog($event)"></parametro-seleccion>
    </div>
    <div *ngIf="configDialog.option == 'ETAPA'">
      <parametro-etapa-frecuencia class="absolute" (close)="onClickCerrarDialog($event)"></parametro-etapa-frecuencia>
    </div>
    <div *ngIf="configDialog.option == 'MUESTRA'">
      <parametro-muestra class="parametro-muestra" (close)="onClickCerrarDialog($event)"></parametro-muestra>
    </div>
    <div *ngIf="configDialog.option == 'OBS'">
      <div class="content">
        <div class="grid">
            <div class="col-12">
                <strong>Las obligaciones de monitoreo ambiental (normativas de calidad ambiental, parámetros y unidades de medida) provienen del IGA seleccionado.</strong>
            </div>
            <div class="col-12" style="margin: 10px 0 15px 0;">
                <span class="p-float-label flex flex-column">
                    <input pInputText type="text" placeholder="Observación"/>
                    <label class="label-placehoder">Observación</label>
                </span>
            </div>
        </div>
      </div>
      <div class="futter">
          <div class="flex justify-content-center gap-2">
              <p-button label="Guardar" outlined="true" severity="primary" class="outline-primary"></p-button>
              <p-button label="Cerrar" outlined="true" severity="secondary" class="outline-secondary" (click)="configDialog.show=false"></p-button>
          </div>
      </div>
    </div>
  </p-dialog>
</div>

<div class="card flex justify-content-center">
  <p-confirmDialog #cd1 id="dialog" [visible]="openDlgEliminar" (onHide)="openDlgEliminar = false">
    <ng-template pTemplate="headless" let-message>
      <div class="flex flex-column align-items-center p-5 surface-overlay border-round p-dialog-confirm">
        <div class="border-circle bg-primary inline-flex justify-content-center align-items-center h-6rem w-6rem">
          <i class="pi pi-question text-5xl"></i>
        </div>
        <strong class="mt-4">{{ message.message }}</strong>
        <div class="flex align-items-center gap-2 mt-4">
          <p-button label="Aceptar" (click)="cd1.accept()" severity="primary" outlined="true" class="outline-primary"></p-button>
          <p-button label="Cancelar" (click)="cd1.reject()" severity="secondary" outlined="true" class="outline-secondary"></p-button>
        </div>
      </div>
    </ng-template>
  </p-confirmDialog>
</div>

<p-toast position="top-center" key="toast"></p-toast>
