<div class="content">
    <div class="grid">
        <div class="col-12">
            <strong>Componente: AIRE AMBIENTAL</strong>
        </div>
        <div class="col-12">
            <strong>Lista de parámetros</strong>
        </div>
        <div class="col-12">
            <p-tree [filter]="true" filterMode="strict" filterBy="parametro" filterPlaceholder="Buscar" [value]="parametroAdiLista" dataKey="idParametroAdi">
                <ng-template let-node pTemplate="default">
                    <div><span class="hover:text-primary">{{node.parametro}}</span></div>
                </ng-template>
            </p-tree>
        </div>
    </div>
</div>