<div class="content-list">
    <div class="grid" *ngIf="opcion=='SELECT'">
        <div class="col-12 p-0">
            <p-messages [(value)]="infoComponente" [enableService]="false" />
        </div>
        <div class="col-12">
            <strong class="mt-0">Lista de parámetros</strong>
        </div>
        <div class="col-12">
            <p-tree [filter]="true" filterMode="strict" filterBy="parametro" filterPlaceholder="Buscar" [value]="parametroAdiLista" dataKey="idParametroAdi">
                <ng-template let-node pTemplate="default">
                    <div>
                        <p-checkbox [(ngModel)]="node.checked" [binary]="true" inputId="idParametroAdi" *ngIf="node.showCheckbox" (onChange)="onChangeCheckParam(node)"/>
                        <span class="hover:text-primary">{{node.parametro}}</span>
                    </div>
                </ng-template>
            </p-tree>
        </div>
    </div>
    <div class="grid" *ngIf="opcion=='LIST'">
        <div class="col-12 table">
            <p-table [value]="dataSource" selectionMode="single" dataKey="orden" [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="header">
                    <tr><th></th><th>COMPONENTE</th><th>PARÁMETRO</th></tr>
                </ng-template>
                <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                    <tr>
                        <td><p-checkbox [(ngModel)]="valorTemp" [binary]="true"></p-checkbox></td>
                        <td>{{ data.componente }}</td>
                        <td>{{ data.parametro }}</td>
                    </tr>
                </ng-template>
            </p-table>
            <div class="card flex justify-content-end">
                <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="2" [showCurrentPageReport]="true" currentPageReportTemplate="({totalRecords} registros)"></p-paginator>
            </div>
        </div>
    </div>
</div>