<div class="content">
    <div class="grid">
        <div class="col-12">
            <p-tabView styleClass="tabview-custom" [(activeIndex)]="activeIndex">
                <p-tabPanel header="Agregar Punto">
                    <ng-template pTemplate="content">
                        <div class="grid overflow-y-auto pt-4" style="max-height: 44rem">
                            <div class="md:col-6 col-12 margin-bottom">
                                <span class="p-float-label">
                                    <p-dropdown placeholder="Subsector"></p-dropdown>
                                    <label class="label-placehoder requerido">Subsector</label>
                                </span>
                            </div>
                            <div class="md:col-6 col-12 margin-bottom">
                                <span class="p-float-label">
                                    <p-dropdown placeholder="Nombre del administrado"></p-dropdown>
                                    <label class="label-placehoder requerido">Nombre del administrado</label>
                                </span>
                            </div>
                            <div class="md:col-6 col-12 margin-bottom">
                                <span class="p-float-label flex flex-column">
                                    <input pInputText type="text" placeholder="Nombre del punto"/>
                                    <label class="label-placehoder requerido">Nombre del punto</label>
                                </span>
                            </div>
                            <div class="md:col-6 col-12 margin-bottom">
                                <span class="p-float-label flex flex-column">
                                    <input pInputText type="text" placeholder="Fuente del punto" disabled value="PUNTO ADICIONAL"/>
                                    <label class="label-placehoder requerido">Fuente del punto</label>
                                </span>
                            </div>
                            <div class="md:col-6 col-12 margin-bottom">
                                <span class="p-float-label">
                                    <p-dropdown placeholder="Tipo de punto"></p-dropdown>
                                    <label class="label-placehoder requerido">Tipo de punto</label>
                                </span>
                            </div>
                            <div class="md:col-6 col-12 margin-bottom">
                                <span class="p-float-label">
                                    <p-dropdown placeholder="Fuente de obligación"></p-dropdown>
                                    <label class="label-placehoder requerido">Fuente de obligación</label>
                                </span>
                            </div>
                            <div class="col-12 margin-bottom">
                                <span class="p-float-label flex flex-column">
                                    <input pInputText type="text" placeholder="Descripción"/>
                                    <label class="label-placehoder">Descripción</label>
                                </span>
                            </div>
                            <div class="col-12">
                                <strong class="text-primary">Localización</strong>
                                <div class="text-primary font-bold mt-2">
                                    <p-checkbox label="Tiene coordenadas" value="true" />
                                </div>
                            </div>
                            <div class="md:col-4 col-12 margin-bottom">
                                <span class="p-float-label">
                                    <p-dropdown placeholder="Proyección"></p-dropdown>
                                    <label class="label-placehoder">Proyección</label>
                                </span>
                            </div>
                            <div class="md:col-8 col-12 margin-bottom">
                                <span class="p-float-label">
                                    <p-dropdown placeholder="Tipo de unidad"></p-dropdown>
                                    <label class="label-placehoder">Tipo de unidad</label>
                                </span>
                            </div>
                            <div class="md:col-4 col-12 margin-bottom">
                                <span class="p-float-label flex flex-column">
                                    <input pInputText type="text" placeholder="Latitud grado"/>
                                    <label class="label-placehoder">Latitud grado</label>
                                </span>
                            </div>
                            <div class="md:col-4 col-12 margin-bottom">
                                <span class="p-float-label flex flex-column">
                                    <input pInputText type="text" placeholder="Latitud minuto"/>
                                    <label class="label-placehoder">Latitud minuto</label>
                                </span>
                            </div>
                            <div class="md:col-4 col-12 margin-bottom">
                                <span class="p-float-label flex flex-column">
                                    <input pInputText type="text" placeholder="Latitud segundo"/>
                                    <label class="label-placehoder">Latitud segundo</label>
                                </span>
                            </div>
                            <div class="md:col-4 col-12 margin-bottom">
                                <span class="p-float-label flex flex-column">
                                    <input pInputText type="text" placeholder="Longitud grado"/>
                                    <label class="label-placehoder">Longitud grado</label>
                                </span>
                            </div>
                            <div class="md:col-4 col-12 margin-bottom">
                                <span class="p-float-label flex flex-column">
                                    <input pInputText type="text" placeholder="Longitud minuto"/>
                                    <label class="label-placehoder">Longitud minuto</label>
                                </span>
                            </div>
                            <div class="md:col-4 col-12 margin-bottom">
                                <span class="p-float-label flex flex-column">
                                    <input pInputText type="text" placeholder="Longitud segundo"/>
                                    <label class="label-placehoder">Longitud segundo</label>
                                </span>
                            </div>
                            <div class="md:col-6 col-12 margin-bottom">
                                <span class="p-float-label">
                                    <p-dropdown placeholder="Datum"></p-dropdown>
                                    <label class="label-placehoder">Datum</label>
                                </span>
                            </div>
                            <div class="md:col-6 col-12 margin-bottom">
                                <span class="p-float-label">
                                    <p-dropdown placeholder="Zona"></p-dropdown>
                                    <label class="label-placehoder">Zona</label>
                                </span>
                            </div>
                            <div class="md:col-2 col-12 margin-bottom">
                                <div class="text-primary font-bold mt-2" >
                                    <p-checkbox label="Tiene altitud" value="true" /> 
                                </div>
                            </div>
                            <div class="md:col-10 col-12 margin-bottom">
                                <span class="p-float-label flex flex-column">
                                    <input pInputText type="text" placeholder="Altitud"/>
                                    <label class="label-placehoder">Altitud</label>
                                </span>
                            </div>
                            <div class="col-12 margin-bottom">
                                <span class="p-float-label flex flex-column">
                                    <input pInputText type="text" placeholder="Referencia de localización"/>
                                    <label class="label-placehoder">Referencia de localización</label>
                                </span>
                            </div>
                        </div>
                    </ng-template>
                </p-tabPanel>
                <p-tabPanel header="Agre. Componente" [disabled]="false">
                    <ng-template pTemplate="content">
                        <div class="col-12">
                            <p-tree class="w-full md:w-30rem" [selectionMode]="'checkbox'" [value]="componenteLista" dataKey="idComponente">
                                <ng-template let-node pTemplate="default">
                                    <div><span class="hover:text-primary cursor-pointer">{{node.componente}}</span></div>
                                </ng-template>
                            </p-tree>
                        </div>
                    </ng-template>
                </p-tabPanel>
                <p-tabPanel header="Agregar Parámetro" [disabled]="false">
                    <ng-template pTemplate="content">
                        <punto-adicional-parametro [opcion]="'SELECT'"></punto-adicional-parametro>
                    </ng-template>
                </p-tabPanel>
                <p-tabPanel header="Lista de Parámetros" [disabled]="false">
                    <ng-template pTemplate="content">
                        <punto-adicional-parametro [opcion]="'LIST'"></punto-adicional-parametro>
                    </ng-template>
                </p-tabPanel>
            </p-tabView>
        </div>
    </div>
</div>
<div class="futter">
    <div class="flex justify-content-center gap-2">
        <p-button label="Guardar" outlined="true" severity="primary" class="outline-primary" (click)="onClickCancelar()" *ngIf="activeIndex==3"></p-button>
        <p-button label="Cancelar" outlined="true" severity="secondary" class="outline-secondary" (click)="onClickCancelar()"></p-button>
    </div>
</div>