<div class="content-list" *ngIf="tabResul=='COMPONENTE'">
    <div class="grid mt-1" *ngIf="busqueda">
        <div class="md:col-4 sm col-12">
            <span class="p-float-label flex flex-column">
                <input pInputText type="text" placeholder="Nombre de componente"/>
                <label class="label-placehoder">Nombre de componente</label>
            </span>
        </div>
        <div class="md:col-4 col-12">
            <p-button label="Buscar" icon="pi pi-search" severity="primary" outlined="true" class="outline-primary"></p-button>
        </div>
    </div>
    <div class="grid">
        <div class="md:col-7 col-12">
            <div class="titulo-res">
                <strong class="pcp-1" (click)="onClickPuntoRes()">Puntos</strong>
                <strong class="pcp-2 res-active" (click)="onClickComponenteRes()">Componentes</strong>
                <strong class="pcp-2" (click)="onClickParametroRes(dataComponente)">Parámetros</strong>
                <i class="pi pi-filter-fill" pTooltip="Mostrar filtro" tooltipPosition="top" *ngIf="!busqueda" (click)="onClickBusqueda()"></i>
                <i class="pi pi-filter-slash" pTooltip="Ocultar filtro" tooltipPosition="top" *ngIf="busqueda" (click)="onClickBusqueda()"></i>
            </div>
        </div>
        <div class="md:col-5 col-12 flex justify-content-end">
            <p-button label="Seleccionar Componente" severity="primary" outlined="true" class="outline-primary" (click)="onClickParamAdicional()"></p-button>
        </div>
        
        <div class="grid">
            <div class="col-12 info-res">
                <p-messages [(value)]="infoPunto" [enableService]="false" />
            </div>
            <div class="col-12 table">
                <p-table [value]="dataSource" selectionMode="single" dataKey="orden" [tableStyle]="{ 'min-width': '100rem'}">
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 50px;">N°</th><th style="width: 50px;">OPCIONES</th>
                            <th>COMPONENTE AMBIENTAL / PROCEDENCIA DE LA MUESTRA / PROCEDENCIA ESPECÍFICA DE LA MUESTRA </th></tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                        <tr>
                            <td>{{data.orden}}</td>
                            <td>
                                <fa-icon [icon]="faTrash" pTooltip="Eliminar componente" tooltipPosition="top" class="icon-danger" (click)="onClickEliminar(data)"></fa-icon>
                                <i class="pi pi-arrow-right icon-res" pTooltip="Mostrar parámetros" tooltipPosition="top" (click)="onClickParametroRes(data)"></i>
                            </td>
                            <td>{{data.nombreComponente}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
    <div class="card flex justify-content-center p-dialog-custom">
        <p-dialog header="SELECCIONAR PARÁMETROS ADICIONALES" [(visible)]="mostrarDetalle" [modal]="true" [style]="{width: '600px'}" closable="false">
            <div class="grid mt-2 mb-3 overflow-y-auto" style="border-bottom: solid 1px #1d85bf; max-height: 44rem;">
                <div class="col-12">
                    <div><strong class="text-primary">Seleccione un componente para mostrar los parámetros:</strong></div>
                    <div class="">
                        <p-tree class="w-full md:w-30rem" [value]="componenteLista" dataKey="idComponente">
                            <ng-template let-node pTemplate="default">
                                <div><span class="hover:text-primary cursor-pointer" (click)="selectNodeComp(node)">{{node.componente}}</span></div>
                            </ng-template>
                        </p-tree>
                    </div>
                </div>
                <div class="col-12" *ngIf="mostrarParamPostSelect">
                    <div><strong class="text-primary">Lista de parámetros adicionales:</strong></div>
                    <div class="">
                        <p-tree [filter]="true" filterMode="strict" filterBy="parametro" filterPlaceholder="Buscar" [value]="parametroAdiLista" dataKey="idParametroAdi">
                            <ng-template let-node pTemplate="default">
                                <div>
                                    <p-checkbox [(ngModel)]="node.checked" [binary]="true" inputId="idParametroAdi" *ngIf="node.showCheckbox" (onChange)="onChangeCheckParam(node)"/>
                                    <span class="hover:text-primary cursor-pointer">{{node.parametro}}</span>
                                </div>
                            </ng-template>
                        </p-tree>
                    </div>
                </div>
            </div>
            <div class="futter">
                <div class="flex justify-content-center">
                    <p-button label="Cerrar" outlined="true" severity="secondary" class="outline-secondary" (click)="onClickCerrar()"></p-button>
                </div>
            </div>
        </p-dialog>
    </div>
</div>
<div *ngIf="tabResul=='PARAMETRO'">
    <parametro-listado [data]="dataComponente" (select)="onSelected($event)"></parametro-listado>
</div>

<div class="card flex justify-content-center">
    <p-confirmDialog #cd [visible]="openDlgEliminar">
      <ng-template pTemplate="headless" let-message>
        <div class="flex flex-column align-items-center p-5 surface-overlay border-round p-dialog-confirm">
          <div class="border-circle bg-primary inline-flex justify-content-center align-items-center h-6rem w-6rem">
            <i class="pi pi-question text-5xl"></i>
          </div>
          <strong class="mt-4">{{ message.message }}</strong>
          <div class="flex align-items-center gap-2 mt-4">
            <p-button label="Aceptar" (click)="cd.accept()" severity="primary" outlined="true" class="outline-primary"></p-button>
            <p-button label="Cancelar" (click)="cd.reject()" severity="secondary" outlined="true" class="outline-secondary"></p-button>
          </div>
        </div>
      </ng-template>
    </p-confirmDialog>
</div>

<p-toast position="top-center" key="noComp"></p-toast>