<div class="content">
    <div class="grid">
        <div class="col-12 mb-3">
            <span class="p-float-label flex flex-column">
                <input pInputText type="text" placeholder="N° informe de ensayo" />
                <label class="label-placehoder requerido">N° informe de ensayo</label>
            </span>
        </div>
        <div class="col-12 mb-3">
            <span class="p-float-label flex flex-column">
                <p-dropdown [options]="" optionLabel="Tipo de Documento"
                placeholder="Tipo de Documento" />
                <label class="label-placehoder requerido">Tipo de Documento</label>
            </span>
        </div>
        <div class="col-12 mb-2">
            <div class="card flex flex-column">
              <p-fileUpload mode="basic" name="demo[]" chooseIcon="pi pi-upload"
                url="https://www.primefaces.org/cdn/api/upload.php" accept=".pdf,.docx,.doc,.zip,.rar" maxFileSize="1000000"
                (onUpload)="onBasicUploadAuto($event)" [auto]="true" chooseLabel="Adjuntar Archivo"/>
            </div>
          </div>
          <div class="col-12">
            <div class="flex flex-column">
              <strong>Formatos permitidos: .pdf,.docx,.doc,.zip,.rar</strong> 
              <strong>Támaño máximo permitido: 5 GB.</strong>
            </div>
          </div>
    </div>
</div>
<div class="futter">
    <div class="flex justify-content-center gap-2">
        <p-button label="Guardar" outlined="true" severity="primary" class="outline-primary" (click)="onClickCancelar()"></p-button>
        <p-button label="Cancelar" outlined="true" severity="secondary" class="outline-secondary" (click)="onClickCancelar()"></p-button>
    </div>
</div>