<div class="content  mb-4" style="margin-top: 25px; padding-right: 10px; border-bottom: solid 1px #1d85bf;">
  <div class="row">
    <div class="col-12">
      <div class="row flex align-items-center" *ngFor="let etapa of etapaMonitoreo; let i=index">
        <div class="col-4">
          <p-checkbox [label]="etapa.nombreEtapa" [value]="etapa.isCheked"/>
        </div>
        <div class="col-8">
          <p-dropdown [options]="frecuenciaMonitoreo" optionLabel="nombre" placeholder="Frecuencia de monitoreo" />
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="flex flex-column">
        <p class="text-danger">IMPORTANTE: </p>
          Cuando se desee replicar todos los parámetros, quitar el check de la ETAPA para poder limpiar correctamente la
          Frecuencia de Monitoreo y poder realizar las modificaciones requeridas.
      </div>
    </div>
  </div>
</div>
<div class="futter">
  <div class="flex justify-content-center gap-2">
    <p-button label="Cancelar" outlined="true" severity="secondary" class="outline-secondary"
      (click)="onClickCancelar()"></p-button>
  </div>
</div>
