<div class="content ">
  <div *ngIf="tabResul == 'EQUIPO'">
    <div class="grid mb-5">
      <div class="md:col-7 col-12">
          <div class="titulo-res">
              <strong class="pcp-1 res-active" (click)="onClickEquipos()">Equipos</strong>
              <strong class="pcp-2" (click)="onClickParametros()">Parámetros</strong>
          </div>
      </div>
      <div class="md:col-5 col-12 flex justify-content-end gap-1">
          <p-button label="Agregar Equipos" severity="primary" outlined="true" class="outline-primary" (click)="onClickAgregarEquipo()"></p-button>
      </div>
    </div>
  </div>
  <div *ngIf="tabResul == 'PARAMETRO'">
    <div class="grid mb-5">
      <div class="md:col-7 col-12">
          <div class="titulo-res">
              <strong class="pcp-1" (click)="onClickEquipos()">Equipos</strong>
              <strong class="pcp-2 res-active" (click)="onClickParametros()">Parámetros</strong>
          </div>
      </div>
    </div>
  </div>
</div>

<p-toast position="top-center" key="tc"></p-toast>
<div class="card flex justify-content-center">
  <p-dialog header="{{tituloHeaderDialogo}}" [(visible)]="mostrarDetalle" [modal]="true" [style]="{width: widthDialogo, height: heightDialogo}" closable="false">
    <div *ngIf="modalContent == 'AGREGAR-EQUIPO'">
      <equipo-detalle style="position: absolute;" (cerrar)="onClickCerrar($event)"></equipo-detalle>
    </div>
  </p-dialog>
</div>
